body{
    font-family: 'EB-Garamond, serif';
}

#title{
    background-color: #FD3A73;
    font-family: 'EB-Garamond, serif';
    color: white;
}

h1{
    font-family: 'EB-Garamond, serif';
    font-size: 3.8rem;
    line-height: 1.5;
    font-weight: 900;
}


/* NavBar CSS */
.navbar{
    background-color: #424242;
    font-family: 'EB-Garamond, serif';
    padding: 1% 12%;
    color: white;
}

.navbar-brand{
    font-size: 2.5rem;
}

.nav-item{
    font-size: 1.4rem;
    color: white;
    padding: 0% 18px;
}
/* /NavBar CSS */


/* Top Container CSS */
.container-fluid{
    display: flex;
    justify-content: center;
    padding: 5% 12%;
}

/* Button CSS */
.download-button{
    margin: 5% 2% 5% 0%;
}
/* /Button CSS */

/* Title Image CSS */
.title-image{
    width: 300px;
    transform: rotate(30deg);
    position: absolute;
    right: 25%;
   
}
.title-image:hover{
    transform: rotate(0deg);
}
/* /Title Image CSS */
@media (max-width:1028px) {
    #title{
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0deg);
        width: 250px;
    }
}
/* /Top-Container CSS */


/* Middle-Container CSS */
#features{
    background-color: white;
    z-index: 1;
    position: relative;
}

.feature-box
{
    text-align: center;
    padding: 3%;

}

h3
{
    font-family: 'EB-Garamond, serif';
    font-weight: 900;
    font-size: 2.2rem;
    color: #424242;
}

.Icons
{
   
    font-size: 4rem;
    color: #FD3A73;
    margin: 5%;
}
.Icons:hover
{
    color: #C70039 ;
}

p
{
    font-family: 'EB-Garamond, serif';
    color: #424242;
    font-size: 1.5rem;
}
/* /Middle Container CSS */


/* Testimonials Section CSS */
#testimonials{
    padding: 7% 22%;
    text-align: center;
    background-color: #FD3A73;
    color: white;
}

h2{
    font-family: 'EB-Garamond, serif';
    font-size: 3rem;
    line-height: 1.5;
    text-align: center;
    font-weight: 900;
}

.testimonial-image{
    width: 15%;
    margin: 3%;
    border-radius: 100%;
}
/* /Testimonial Section CSS */


/* Press Section CSS */
#press{
        background-color: #FD3A73;
        text-align: center;
        padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 0% 2%;
}
/* Press Section CSS */


/* Pricing Section CSS */
#pricing{
    padding: 5% 5%;
    text-align: center;
    font-family: 'EB-Garamond, serif';
    color: #424242;
}

.pricing-cards{
    padding: 3% 3%;
}
/* /Pricing Section */


/* Footer Section CSS*/
#cta{
    background-color: #FD3A73;
    text-align: center;
    padding: 3%;
}

.footer-title{
    color: white;
    line-height: 1.5;
    padding: 5% 22%;
    font-size: 3.1rem;
}

.footer-buttons{
    margin: 0% 2%;
}
/* /Footer Section CSS */


